:root {
  --body-background: white;
  --border-color: black;
  --completed-color: green;
  --error-background-color: rgba(var(--error-value), 0.20);
  --error-color: rgb(var(--error-value));
  --error-value: 255, 0, 0;
  --indirect-selection-background-color: rgba(var(--selection-value), 0.5);
  --note-color: rgba(var(--primary-value), 0.38);
  --primary-color: rgb(var(--primary-value));
  --primary-value: 0, 0, 0;
  --selection-background-color: rgb(var(--selection-value));
  --selection-value: 255, 255, 0;
  --value-color: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #121212;
    --border-color: white;
    --completed-color: lightgreen;
    --primary-value: 255, 255, 255;
    --selection-value: 187, 134, 252;
    --value-color: lightblue;
  }
}

body {
  background: var(--body-background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
