.cell {
  --cell-height: 56px;
  --cell-width: 56px;
  position: absolute;
  height: var(--cell-height);
  width: var(--cell-width);
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.row-0 {
  top: 0;
}
.row-1 {
  top: var(--cell-height);
}
.row-2 {
  top: calc(2 * var(--cell-height));
}
.row-3 {
  top: calc(3 * var(--cell-height));
}
.row-4 {
  top: calc(4 * var(--cell-height));
}
.row-5 {
  top: calc(5 * var(--cell-height));
}
.row-6 {
  top: calc(6 * var(--cell-height));
}
.row-7 {
  top: calc(7 * var(--cell-height));
}
.row-8 {
  top: calc(8 * var(--cell-height));
}
.row-9 {
  top: calc(9 * var(--cell-height));
}
.col-0 {
  left: 0;
}
.col-1 {
  left: var(--cell-width);
}
.col-2 {
  left: calc(2 * var(--cell-width));
}
.col-3 {
  left: calc(3 * var(--cell-width));
}
.col-4 {
  left: calc(4 * var(--cell-width));
}
.col-5 {
  left: calc(5 * var(--cell-width));
}
.col-6 {
  left: calc(6 * var(--cell-width));
}
.col-7 {
  left: calc(7 * var(--cell-width));
}
.col-8 {
  left: calc(8 * var(--cell-width));
}
.col-9 {
  left: calc(9 * var(--cell-width));
}
.row-0, .row-3, .row-6 {
  border-top: 3px solid var(--border-color);
}
.row-8 {
  border-bottom: 3px solid var(--border-color);
}
.col-0, .col-3, .col-6 {
  border-left: 3px solid var(--border-color);
}
.col-8 {
  border-right: 3px solid var(--border-color);
}

.selected {
  background: var(--selection-background-color);
}

.indirectly-selected, .row-or-col-selected {
  background: var(--indirect-selection-background-color);
}

.value {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--value-color);
}
.primary .value {
  color: var(--primary-color);
}
.completed .value {
  color: var(--completed-color);
}

.error:not(.selected) {
  background: var(--error-background-color);
}

.error:not(.primary) .value {
  color: var(--error-color);
}

.centerText {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--note-color);
  font-size: 0.9rem;
}

.corner-0,
.corner-1,
.corner-2,
.corner-3,
.corner-4,
.corner-5,
.corner-6,
.corner-7,
.corner-8 {
  position: absolute;
  color: var(--note-color);
  font-size: 0.9rem;
}

.corner-0, .corner-3, .corner-5 {
  left: 0;
}
.corner-1, .corner-6 {
  left: 41%;
}
.corner-2, .corner-4, .corner-7 {
  right: 0;
}

.corner-0, .corner-1, .corner-2 {
  top: 0;
}
.corner-3, .corner-4 {
  top: 41%;
}
.corner-5, .corner-6, .corner-7 {
  bottom: 0;
}
